.greenButton
{
    -fx-base: #88dd88;
    -fx-text-fill: #3a3a00;
}
.greenButton:hover
{
    -fx-base: #88ee88;
}
.greenButton:pressed
{
    -fx-base: #88cc88;
}
.greenButton:selected .focus-indicator
{
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}
.greenButton:focused
{
    -fx-focus-color: transparent;
}

.greenButton .text
{
    /*-fx-effect: dropshadow(one-pass-box, black, 1, 0.0, -1, -1);*/
    -fx-effect: dropshadow(one-pass-box, black, 1, 0.0, 0, 0);

}

.settingsButtonContainer
{
    -fx-padding: 2em 0;
    -fx-border-insets: 2em 0;
    -fx-background-insets: 2em 0;
}

.settingsButtonContainer .button
{
    -fx-label-padding: -0.75em;
}

.pageTitle
{
    -fx-font-size: 3em;
}

.topBar
{
    -fx-border-color: #888888;
    -fx-border-width: 0px 0px 1px 0px;
}

.incButton
{
    -fx-base: #a8e4c1;
}
.decButton
{
    -fx-base: #ecafa6;
}
.incButton, .decButton
{
    -fx-font-size: 3em;
    -fx-label-padding: -50px;
}

.topBar
{
    -fx-background-color: #fff4cc /*#fff8e0*/;
}

.settingsButtonContainer .button
{
    -fx-base: #deefd9;
}

.miniShoppingCartContainer
{
    -fx-background-color: #fff4cc /*#fff8e0*/;
}

.miniShoppingCartContainer .flow-pane, .scrollPane
{
    -fx-background-color: #fff4cc /*#fff8e0*/;
}

.explorerContainer .flow-pane, .explorerContainer .flowpane, .explorerContainer .tab-pane, .explorerContainer .anchor-pane
{
    -fx-background-color: #ebf4f2 /*#fffdf1*/;
}

.miniShoppingCartContainer .scroll-pane
{
    -fx-background-color: transparent;
}

.miniShoppingCartItem
{
    -fx-background-color: #f0ffe1;
    -fx-effect: dropshadow(three-pass-box, black, 1, 0.0, 1, 1);
}

.sectionLabel, .centerStage, .centerStage .flow-pane
{
    -fx-background-color: #ebf4f2 /*#fffdf1*/;
}