.greenButton
{
    -fx-background-color: #88dd88;
}

.settingsButtonContainer
{
    -fx-padding: 2em 0;
    -fx-border-insets: 2em 0;
    -fx-background-insets: 2em 0;
}

.settingsButtonContainer .button
{
    -fx-label-padding: -0.75em;
}