.anchorpane{
    -fx-border-radius: 20 20 0 0;
    -fx-background-radius: 20 20 0 0;


    -fx-background-color: #eeeeee;
    -fx-effect: dropshadow(three-pass-box, black, 2, 0.0, 1, 1);
}

.spinner .increment-arrow{
    -fx-background-image: url("../resources/pluss.png");
}

#addToCartButton {
    -fx-base: #c5ebe6;
}

.anchorpane
{
    -fx-background-color: #f0ffe1;
}
